* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: aliceblue;
    background: rgb(36, 36, 36);
}

button {
    border-radius: 5px;
    background-color: darkblue;
    color: aliceblue;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.tempDisplay {
    font-size: 3.5rem;
}

.cityInput {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

button[type="submit"]:hover {
    font-weight: bold;
    background-color: rgb(1, 1, 175);
}

.humidity {
    font-weight: bold;
}

.descDisplay {
    font-size: small;
    font-style: oblique;
}

.card {
    display: none; /*Just will see the card if insert a city*/
    background: linear-gradient(180deg, blue, rgba(255, 255, 255, 0.385));
    padding: 80px 80px 20px;
    border-radius: 20px;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

:placeholder-shown {
    font-weight: bold;
}